a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(24, 34, 109);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(42, 71, 185);
    background-color: transparent;
    text-decoration: underline;
}

.exit {
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    background-color: rgb(233, 255, 248);
    font-size: 110%;
    margin: 0;
    border: 0;
    padding: 8px;
}